apiVersion: v1
kind: Secret
metadata:
  name: enrollment-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  ENROLLMENT_DB_USERNAME: ENROLLMENT_DB_USERNAME
  ENROLLMENT_DB_PASSWORD: ENROLLMENT_DB_PASSWORD

  ENROLLMENT_REDIS_PASSWORD: ENROLLMENT_REDIS_PASSWORD
