apiVersion: v1
kind: Secret
metadata:
  name: assignment-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  ASSIGNMENT_DB_USERNAME: ASSIGNMENT_DB_USERNAME
  ASSIGNMENT_DB_PASSWORD: ASSIGNMENT_DB_PASSWORD

  ASSIGNMENT_REDIS_PASSWORD: ASSIGNMENT_REDIS_PASSWORD

  ASSIGNMENT_MINIO_ACCESS_KEY: minioadmin
  ASSIGNMENT_MINIO_SECRET_KEY: minioadmin
