apiVersion: v1
kind: Secret
metadata:
  name: auth-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  AUTH_DB_USERNAME: AUTH_DB_USERNAME
  AUTH_DB_PASSWORD: AUTH_DB_PASSWORD

  AUTH_REDIS_PASSWORD: AUTH_REDIS_PASSWORD

  JWT_SECRET: enter_512_bit_secret_key

  ADMIN_EMAIL_ADDRESS: enter_admin_email_address
  ADMIN_PASSWORD: enter_admin_password
