apiVersion: v1
kind: Secret
metadata:
  name: notification-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  MAIL_USERNAME: enter_your_email_address_to_receive_messages
  MAIL_PASSWORD: enter_your_access_token_or_password