apiVersion: v1
kind: Secret
metadata:
  name: submission-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  SUBMISSION_DB_USERNAME: SUBMISSION_DB_USERNAME
  SUBMISSION_DB_PASSWORD: SUBMISSION_DB_PASSWORD

  SUBMISSION_REDIS_PASSWORD: SUBMISSION_REDIS_PASSWORD

  SUBMISSION_MINIO_ACCESS_KEY: minioadmin
  SUBMISSION_MINIO_SECRET_KEY: minioadmin
