apiVersion: v1
kind: Secret
metadata:
  name: user-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  USER_DB_USERNAME: USER_DB_USERNAME
  USER_DB_PASSWORD: USER_DB_PASSWORD

  USER_REDIS_PASSWORD: USER_REDIS_PASSWORD
