apiVersion: v1
kind: Secret
metadata:
  name: course-secret
  namespace: online-learning-platform
type: Opaque
stringData:
  COURSE_DB_USERNAME: COURSE_DB_USERNAME
  COURSE_DB_PASSWORD: COURSE_DB_PASSWORD

  COURSE_REDIS_PASSWORD: COURSE_REDIS_PASSWORD